header {
    background-color: #333;
    color: white;
    padding-inline: 26px;
    padding-block: 30px;
    align-items: center;

    nav{
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    
}