header {
  background-color: #333;
  color: white;
  padding-inline: 26px;
  padding-block: 10px;
  align-items: center;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      &:hover {
        text-decoration: underline;
        color: antiquewhite;
        cursor: pointer;
      }
    }

    ul {
      display: flex;
      gap: 15px;
      li {
        list-style: none;

        &:hover {
          text-decoration: underline;
          color: antiquewhite;
          cursor: pointer;
        }
      }
    }
  }
}
